h2 {
    color: gray;
}

.items_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    list-style: none;
    text-align: center;
}

li {
    border: 1px solid purple;
}

.itemBorder {
    border: 1px solid black;
}