h2 {
    color: gray;
    font-size: 30px;
}

.items_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    list-style: none;
    text-align: center;
}

li {
    border: 2px solid purple;
}

.itemBorder {
    margin: auto;
    border: 1px solid black;
    width: 70%;
}

.items_parent img {
    text-align: center;
    height: 250px;
}

h3 {
    color: red;
    font-size: 15px;
}

span {

}